---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
    <div class="text-center flex flex-col justify-center h-96">
        <h1 class="text-xl mb-3">Work In Progress</h1>
        <p>
             Turns out it needs some time to write some words in this page <span class="text-3xl">&#128556;</span>
        </p>
    </div>
</Layout>