---
import PageWords from '../components/PageWords.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
   <PageWords words="Welcome to Konvertin"/>
   <p><strong>Konvertin</strong> is a  developer tool designed to help developers whether they're building a web application, working with APIs, or debugging your code, our tool simplifies the process and saves you valuable time.</p>
</Layout>