---
import { menuSettings } from '../menuSettings';
import type { IMenuSetting } from "../interfaces"
import Collapsible from '../react-components/Collapsible';


const currentPath = Astro.url.pathname

function isCurrentPage(menu: IMenuSetting) {
    return currentPath === base + menu.link
}

function isAnyOfMyChildrenActive(menus: IMenuSetting[]) {
    return menus.some(menu => isCurrentPage(menu))
}

const baseClass = "p-2 rounded m-2 block w-full "

const active = baseClass + "text-white bg-orange-400"
const inActive = baseClass + "text-black bg-gray-50"

const base = "/BasicTools"

---


<div class=" bg-gray-100 w-full">
    { menuSettings.map(menu => {
        if ("children" in menu) {
            return (
                <Collapsible
                    classNames={{
                        text: (isAnyOfMyChildrenActive(menu.children) ? active: inActive) + " text-left",
                        children: "absolute w-48 flex flex-col gap-1 bg-gray-50 left-10"
                    }}
                    text={menu.name} client:load>
                    {
                        menu.children.map((subMenu: IMenuSetting) => (
                            <a href={base + subMenu.link} class={"hover:text-white hover:bg-orange-400 " + (isCurrentPage(subMenu) ? active: inActive)}>
                                {subMenu.name}
                            </a>))
                    }
                </Collapsible>
            ) 
        }

        return <a class={isCurrentPage(menu) ? active: inActive} href={base + menu.link}>{menu.name}</a>
    })}
</div>