---
import { menuSettings } from '../menuSettings';
import type { IMenuSetting } from "../interfaces"
import Collapsible from '../react-components/Collapsible';


const currentPath = Astro.url.pathname

function isCurrentPage(menu: IMenuSetting) {
    return currentPath.toLocaleLowerCase() === menu.link.toLocaleLowerCase()
}

function isAnyOfMyChildrenActive(menus: IMenuSetting[]) {
    return menus.some(menu => isCurrentPage(menu))
}

const active = "text-white bg-orange-400 p-2 rounded"
const inActive = "text-black bg-gray-100 border border-orange-400 p-2 rounded"
const base = "/BasicTools"

---


<aside class="flex justify-center gap-3 pb-2">
    { menuSettings.map(menu => {
        if ("children" in menu) {
            return (
                <Collapsible
                    classNames={{
                        text: isAnyOfMyChildrenActive(menu.children) ? active : inActive,
                        children: "absolute w-48 flex flex-col gap-1 mt-2"
                    }}
                    text={menu.name} client:load>
                    {
                        menu.children.map((subMenu: IMenuSetting) => (
                            <a href={base + subMenu.link} class={isCurrentPage(subMenu) ? active: inActive}>
                                {subMenu.name}
                            </a>))
                    }
                </Collapsible>
            ) 
        }

        return <a class={isCurrentPage(menu) ? active: inActive} href={base + menu.link}>{menu.name}</a>
    })}
</aside>