---
import Layout from "../../layouts/Layout.astro";
import { MenuSettingNameEnum } from "../../menuSettings";
---


<Layout title="base64 converter" activeMenu={MenuSettingNameEnum.base64}>
    <p>file</p>
</Layout>