---
import Menu from '../react-components/Menu';

export interface Props {
	title: string,
    hideMenu?: boolean
}

const { title, hideMenu } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/BasicTools/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="md:flex">
        {!hideMenu && <aside class="w-full md:w-64"><Menu currentPath={Astro.url.pathname} client:idle /></aside>}
        <main class="md:grow"><slot/></main>
	</body>
</html>
